/*
*/
.profile__button {
  width: 120px;
  height: 120px;
  background: linear-gradient(
    135deg,
    rgba(33, 0, 143, 0.2) 0%,
    rgba(94, 43, 255, 0.2) 50%
  );
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

div,
p {
}

.profile__button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.container::-webkit-scrollbar {
  width: 0.5em;
}

.container::-webkit-scrollbar-thumb {
  background: #b497f9;
  border-radius: 100vw;
}

.container::-webkit-scrollbar-track {
  margin-block: 1.4em;
}

.search__bar {
  padding: 20px;
}

.search__results {
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.content-item {
  display: inline-block;
}

.content-item__image {
  width: 120px;
  height: 200px;
}
